$def-pad: 16px;

.cards {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.input-name {
  min-width: 100px;
  max-width: 150px;
  width: 100%;
}
.form-name {
  margin-left: $def-pad;
  button {
    margin-left: $def-pad/2;
  }
}
